<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(task) do |form| %>
  <div>
    <%= form.label :title, ' 任務名稱:' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, ' 任務描述:' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <% if params[:controller] == 'tasks' && params[:action] == 'new' %>
    <%= form.submit "新增任務",class:'btn btn-danger btn-lg' %> 
    <% else %> 
    <%= form.submit "儲存修改",class:'btn btn-danger btn-lg' %> 
    <% end %>
    <%= link_to "取消", root_path, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>