<%= flash[:notice] %>
<h1><%= t('views.home') %></h1>

<% @tasks.each do |task| %>
  <ul>
    <li>
      <%= t('views.tasks.title') %> <%= link_to task.title, task_path(task) %>
      <%= t('views.tasks.description') %> <%= task.description %>
      <%= t('views.tasks.priority') %>: <%= task_priority(task.priority) %>
      <%= t('views.tasks.status') %> <%= task_status(task.status) %>
      <%= t('views.tasks.tag_list') %><%= task.tag_list %>
      <%= t('views.tasks.start_time') %> <%= l(task.start_time, format: '%F %A %H:%M')%>
      <%= t('views.tasks.end_time') %> <%= l(task.end_time, format: '%F %A %H:%M')%>
      <%= link_to t('views.edit_task'), edit_task_path(task), class: 'btn btn-success btn-sm' %>
      <%= link_to t('views.delete_task'), task_path(task), method: 'delete', data: {confirm: t('views.confirm_massage') }, class: 'btn btn-dark btn-sm' %>
    </li>
  </ul>
<% end %>

<%= link_to t('views.new_task'), new_task_path , class: 'btn btn-info btn-lg'%>