<h1><%= t('views.task_detail') %></h1>

<%= t('views.tasks.title') %><%= @task.title %>
<%= t('views.tasks.description') %><%= @task.description %>

<div>
  <%= link_to t('views.back_home'), root_path, class: 'btn btn-warning btn-lg' %>
</div>